// Screen Height
// ---------------------------------------

@media screen and (max-width : 768px) {
  h2 { font-size: 1.5em; }
  h3 { line-height: 1; }

  .content-wrapper {
    padding: 2.5em 1.5em 1.5em 1.5em;
  }

}


@media screen and (max-width : 615px) {
   
  .main {
    height: auto;
  }

  h1 { @include font-size(2);}

  .square {
    display: block;
    padding: 1em 0;
    position: relative;
    width: 100%;
    height: auto;
  }

  .content-wrapper { 
    visibility: visible;

    .collapsed { display: none;}
  }

  .about {
    background-color: $white;
    color: $green;

    header {
      bottom: 0; 
      padding: 2em 0;
      position: relative; 
      right: 0;
    }

    h1, h2 { 
      text-align: center;
    }
  }
}