

h1 {
  @include font-size(2.625);

  font: {
    family: $font-sans;
    weight: 800;
  }

  line-height: 1;

  text: {
    align: center;
    transform: uppercase;
  }
}

.content h1 {
  @include font-size(2);

  font: {
    family: $font-serif;

  }

  text-transform: none;
}

h2 {
  @include font-size(2);

  font: {
    family: $font-sans;
    weight: 600;
  }
}

.big h2 {
  @include font-size(1.5);
  font-weight: 300;
  line-height: 1.5;
}




h3 {
  @include font-size(1.5);

  font: {
    family: $font-serif;
    weight: 300;
  }
}

.content h3 {
  @include font-size(1);

  font: {
    family: $font-sans;
    weight: 600;
  }
}

p {
  @include font-size(1);
  margin-bottom: 1em;
}

.square p { 
  font-family: $font-serif;
  font-weight: 300;
}

li {
  @include font-size(1);

  font: {
    family: $font-sans;
    weight: 300;
  }
}

ol li { 
  margin-bottom: 1em;
  margin-left: 1.5em;
}

article ul li,
li li {
  list-style: circle;
  margin-bottom: 1em;
  margin-left: 1.5em;
}

a {
  color: $white; 
  text-decoration: none;
}

.job a { 
  height: 100%;
  position: relative;

  &::before {
    background: $resume-accent-color;
    border-bottom: 1px solid $white;
    content: '';
    display: block;
    height: 0px;
    position: absolute;
    bottom: 0;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    width: 100%;
    z-index: -1;
  }

  &:hover::before {
    border-top: 1px solid $white;
    height: 100%;
  }
}

small {
    @include font-size(.875);
}

.strong {
  font-family: $font-sans;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}