

h1 {
  @include font-size(2.625);

  font: {
    family: $font-sans;
    weight: 800;
  }

  line-height: 1;

  text: {
    align: center;
    transform: uppercase;
  }
}

h2 {
  @include font-size(2);

  font: {
    family: $font-sans;
    weight: 600;
  }
}

h3 {
  @include font-size(1.5);

  font: {
    family: $font-serif;
    weight: 300;
  }
}

p {
  @include font-size(1);

  font: {
    family: $font-serif;
    weight: 300;
  }
}

small {
    @include font-size(.875);
}

a {
  color: $white; 
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid $white;
}