// Colors
// ---------------------------------------
$green: #47584D;
$blue: #42A482;
$red: #BE3400;
$yellow: #CDB739;
$white: #FAF5D3;

$about-color: $green;
$portfolio-color: $blue;
$resume-color: $red;
$contact-color: $yellow;


// Fonts
// ---------------------------------------
$font-sans: 'Raleway', sans-serif;
$font-serif: 'Josefin Slab', serif;

// Misc
// ---------------------------------------