@font-face {
  font: {
    family: 'icomoon';
    style: normal;
    weight: normal;
  }
  src:url('/public/fonts/icomoon.eot?c2sh6h');
  src:url('/public/fonts/icomoon.eot?#iefixc2sh6h') format('embedded-opentype'),
    url('/public/fonts/icomoon.woff?c2sh6h') format('woff'),
    url('/public/fonts/icomoon.ttf?c2sh6h') format('truetype'),
    url('/public/fonts/icomoon.svg?c2sh6h#icomoon') format('svg');
}

[class^="icon-"], [class*=" icon-"] {
  color: $white;
  font: {
    family: 'icomoon';
    size: 2em;
    style: normal;
    weight: normal;
    variant: normal;
  }
  line-height: 1.5;
  speak: none;
  text-transform: none;
  
  -webkit-transition: box-shadow 0.2s;
     -moz-transition: box-shadow 0.2s;
          transition: box-shadow 0.2s;

  /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Effect 9 */
.icon {
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  font-size: 0px;
  height: 64px;
  position: relative;
  text-align: center;
  width: 64px;
  z-index: 1;

  -webkit-transition: box-shadow 0.2s;
     -moz-transition: box-shadow 0.2s;
          transition: box-shadow 0.2s;
}
  
.icon:after {
  border-radius: 50%;
  content: '';
  box-shadow: 0 0 0 3px $white;
  -webkit-box-sizing: content-box; 
     -moz-box-sizing: content-box; 
          box-sizing: content-box;
  height: 100%;
  left: 0;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;

  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
     -moz-transition: -moz-transform 0.2s, opacity 0.2s;
          transition: transform 0.2s, opacity 0.2s;
}

.icon:before {
  display: block;
  font: {
    size: 32px;
    style: normal;
    transform: none;
    variant: normal;
    weight: normal;
  }
  line-height: 2;

  -webkit-font-smoothing: antialiased;
}



.icon-mail:before {
  content: "\e603";
}
.icon-blog:before {
  content: "\e602";
}
.icon-twitter:before {
  content: "\e601";
}
.icon-github:before {
  content: "\e606";
}
.icon-linkedin:before {
  content: "\e609";
}
.icon-arrow-down:before {
  content: "\e600";
}