
.gallery {
  padding-top: 1.5em;

  a:before {
    content: none;
  }
}

.thumbnail {
  display: inline-block;
  margin: 1% 0;
  max-height: 10em;
  min-height: 10em;
  overflow: hidden;
  text-align: center;

  &:hover { 
    .caption { @include opacity(0.9); }
  }

  img {
    max-width: 100%;
    width: 100%;
  }

  .caption {
    @include opacity(0);
    @include transition (all, 0.2s, ease);
    background: darken( $portfolio-accent-color, 12% );
    height: 100%;
    left: 0;
    padding: 0 .5em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    p {
      display: inline-block;
      vertical-align: middle;
    }
  }
}