/* line 2, ../../app/css/vendor/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* HTML5 */
/* line 6, ../../app/css/base/_reset.scss */
header, footer, article, section, hgroup, nav, figure {
  display: block;
}

/* http://meyerweb.com/eric/tools/css/reset */
/* line 9, ../../app/css/base/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, hr, p, input, textarea, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

/* line 9, ../../app/css/base/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 9, ../../app/css/base/_reset.scss */
body {
  line-height: 1;
}

/* line 9, ../../app/css/base/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 9, ../../app/css/base/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 9, ../../app/css/base/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

/* line 9, ../../app/css/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 9, ../../app/css/base/_reset.scss */
:focus {
  outline: none;
}

/* line 9, ../../app/css/base/_reset.scss */
::-moz-focus-inner {
  border: 0;
}

/* Box-Sizing */
/* line 12, ../../app/css/base/_reset.scss */
* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

/* line 3, ../../app/css/base/_typography.scss */
h1 {
  font-size: 2.625em;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

/* line 19, ../../app/css/base/_typography.scss */
.content h1 {
  font-size: 2em;
  font-family: "Josefin Slab", serif;
  font-weight: 300;
  text-transform: none;
}

/* line 30, ../../app/css/base/_typography.scss */
h2 {
  font-size: 2em;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

/* line 39, ../../app/css/base/_typography.scss */
.content h2 {
  font-size: 1.5em;
}

/* line 43, ../../app/css/base/_typography.scss */
h3 {
  font-size: 1.5em;
  font-family: "Josefin Slab", serif;
  font-weight: 300;
}

/* line 52, ../../app/css/base/_typography.scss */
.content h3 {
  font-size: 1em;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

/* line 61, ../../app/css/base/_typography.scss */
p {
  font-size: 1em;
  font-family: "Josefin Slab", serif;
  font-weight: 300;
}

/* line 70, ../../app/css/base/_typography.scss */
.content p {
  margin-bottom: 1em;
}

/* line 72, ../../app/css/base/_typography.scss */
li {
  font-size: 1em;
  font-family: "Josefin Slab", serif;
  font-weight: 300;
}

/* line 81, ../../app/css/base/_typography.scss */
a {
  color: #faf5d3;
  text-decoration: none;
}

/* line 86, ../../app/css/base/_typography.scss */
.content-wrapper a:hover {
  border-bottom: 1px solid #faf5d3;
}

/* line 90, ../../app/css/base/_typography.scss */
small {
  font-size: 0.875em;
}

/* line 94, ../../app/css/base/_typography.scss */
.strong {
  font-family: "Raleway", sans-serif;
}

/* line 98, ../../app/css/base/_typography.scss */
.center {
  text-align: center;
}

/* line 102, ../../app/css/base/_typography.scss */
.right {
  text-align: right;
}

/* line 106, ../../app/css/base/_typography.scss */
.left {
  text-align: left;
}

/* line 1, ../../app/css/layout/_global.scss */
html, body {
  background: #faf5d3;
  color: #faf5d3;
  font-size: 100%;
  height: 100%;
  line-height: 1.5;
  min-height: 39.375em;
  width: 100%;
}

/* line 11, ../../app/css/layout/_global.scss */
.main {
  height: 100%;
}

/* line 15, ../../app/css/layout/_global.scss */
header {
  margin-bottom: 25px;
}

/* line 19, ../../app/css/layout/_global.scss */
* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

/* line 25, ../../app/css/layout/_global.scss */
.hidden {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

/*---- CLEAR FIX ----*/
/* line 32, ../../app/css/layout/_global.scss */
.row:before,
.row:after {
  content: " ";
  display: table;
}

/* line 38, ../../app/css/layout/_global.scss */
.row:after {
  clear: both;
}

/* line 42, ../../app/css/layout/_global.scss */
.row {
  *zoom: 1;
}

/* line 4, ../../app/css/layout/_grid.scss */
.square {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  height: 50%;
  width: 50%;
}

/* line 11, ../../app/css/layout/_grid.scss */
.col {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  margin: 0 1.01%;
}

/* line 16, ../../app/css/layout/_grid.scss */
.span-one-of-ten {
  width: 7.98%;
}

/* line 18, ../../app/css/layout/_grid.scss */
.span-two-of-ten {
  width: 17.98%;
}

/* line 20, ../../app/css/layout/_grid.scss */
.span-three-of-ten {
  width: 27.98%;
}

/* line 22, ../../app/css/layout/_grid.scss */
.span-four-of-ten {
  width: 37.98%;
}

/* line 24, ../../app/css/layout/_grid.scss */
.span-five-of-ten {
  width: 47.98%;
}

/* line 26, ../../app/css/layout/_grid.scss */
.span-six-of-ten {
  width: 57.98%;
}

/* line 28, ../../app/css/layout/_grid.scss */
.span-seven-of-ten {
  width: 67.98%;
}

/* line 30, ../../app/css/layout/_grid.scss */
.span-eight-of-ten {
  width: 77.98%;
}

/* line 32, ../../app/css/layout/_grid.scss */
.span-nine-of-ten {
  width: 87.98%;
}

/* line 34, ../../app/css/layout/_grid.scss */
.span-ten-of-ten {
  width: 97.98%;
}

/* line 36, ../../app/css/layout/_grid.scss */
.whole {
  width: 100%;
}

/* line 38, ../../app/css/layout/_grid.scss */
.half {
  width: 50%;
}

/* line 4, ../../app/css/layout/_content.scss */
.about {
  background: #47584d;
  position: relative;
}
/* line 8, ../../app/css/layout/_content.scss */
.about header {
  bottom: 0;
  position: absolute;
  right: 30px;
  text-align: right;
}

/* line 16, ../../app/css/layout/_content.scss */
.portfolio {
  background: #42a482;
}

/* line 20, ../../app/css/layout/_content.scss */
.resume {
  background: #be3400;
}
/* line 23, ../../app/css/layout/_content.scss */
.resume li {
  border-right: 1px solid #faf5d3;
  padding-bottom: 50px;
}

/* line 29, ../../app/css/layout/_content.scss */
.contact {
  background: #cdb739;
}
/* line 32, ../../app/css/layout/_content.scss */
.contact .back li {
  display: inline-block;
  width: 40%;
  margin: 10px auto;
  position: relative;
}
/* line 39, ../../app/css/layout/_content.scss */
.contact .back li:hover .note {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
/* line 51, ../../app/css/layout/_content.scss */
.contact .note {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
/* line 58, ../../app/css/layout/_content.scss */
.contact .linkedin, .contact .git, .contact .twitter, .contact .email {
  background: url("/public/img/sprites.png") no-repeat -9.0625em 0;
  height: 2em;
  margin: auto;
  position: relative;
  width: 2em;
}
/* line 66, ../../app/css/layout/_content.scss */
.contact .git {
  background-position: -6em 0;
}
/* line 71, ../../app/css/layout/_content.scss */
.contact .twitter {
  background-position: -3em 0;
}
/* line 76, ../../app/css/layout/_content.scss */
.contact .email {
  background-position: 0 0;
}

/* line 82, ../../app/css/layout/_content.scss */
.content-wrapper {
  height: 100%;
  padding: 30px;
}
/* line 86, ../../app/css/layout/_content.scss */
.content-wrapper .back {
  height: 100%;
  margin: auto;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  position: relative;
  text-align: center;
  width: 80%;
}
/* line 99, ../../app/css/layout/_content.scss */
.content-wrapper .more {
  bottom: 0;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  position: absolute;
  width: 100%;
}
/* line 108, ../../app/css/layout/_content.scss */
.content-wrapper:hover .back {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

/* line 127, ../../app/css/layout/_content.scss */
.details .big {
  position: relative;
}
/* line 131, ../../app/css/layout/_content.scss */
.details .content-wrapper {
  margin: auto;
  max-width: 990px;
  position: relative;
}
/* line 136, ../../app/css/layout/_content.scss */
.details .content-wrapper:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* line 146, ../../app/css/layout/_content.scss */
.side-nav {
  border-right: 1px solid #faf5d3;
  padding-top: 30px;
}
/* line 150, ../../app/css/layout/_content.scss */
.side-nav li {
  margin-bottom: 30px;
}
/* line 154, ../../app/css/layout/_content.scss */
.side-nav h3 {
  border-bottom: 1px solid transparent;
  cursor: pointer;
  line-height: 1;
}
/* line 160, ../../app/css/layout/_content.scss */
.side-nav h3:hover {
  text-decoration: underline;
}

/* line 163, ../../app/css/layout/_content.scss */
.content {
  height: 85%;
}
/* line 170, ../../app/css/layout/_content.scss */
.content .proj-details {
  float: right;
}
/* line 174, ../../app/css/layout/_content.scss */
.content .pictures {
  float: right;
}
/* line 178, ../../app/css/layout/_content.scss */
.content .timeline {
  float: right;
  margin: 0 0 0 2.02%;
}
/* line 182, ../../app/css/layout/_content.scss */
.content .timeline h3 {
  border-bottom: 1px solid #faf5d3;
}

/* line 187, ../../app/css/layout/_content.scss */
.description a {
  border-bottom: 1px solid #faf5d3;
}

/* line 192, ../../app/css/layout/_content.scss */
.list li {
  border: none;
  line-height: 1.3;
  list-style: circle;
  padding-bottom: 1em;
}

/* line 199, ../../app/css/layout/_content.scss */
.close {
  cursor: pointer;
  left: 15px;
  position: fixed;
  top: 60px;
}
/* line 205, ../../app/css/layout/_content.scss */
.close:hover {
  text-decoration: underline;
}

/* line 1, ../../app/css/layout/_footer.scss */
.footer {
  height: 2em;
  width: 100%;
}
/* line 5, ../../app/css/layout/_footer.scss */
.footer p {
  color: #42a482;
  line-height: 2.5;
  text-align: center;
  text-transform: lowercase;
}
/* line 12, ../../app/css/layout/_footer.scss */
.footer span {
  font-size: 1.1em;
}
