<a id="head"></a>
<section class="square about" role="banner">
  <div class="content-wrapper">
    <header>
      <h1>erica horowitz</h1>
      <h2>UX Designer</h2>
    </header>
  </div>
</section><!-- 

 --><section class="square portfolio">
  <a href="#portfolio">
    <div class="square-wrapper" aria-live="polite">

      <div class="back">
        <header>
          <h1>work</h1>
        </header>
        <div class="sample">
          <h2 class="title">Citizen's Connect</h2>
          <h3 class="tag">UX Case Study</h3>
          <p class="date">2014</p>
        </div>
        <p class="more">[ click for more information ]</p>
      </div>
    </div>
  </a>
</section><!-- 

 --><section class="square resume">
  <a href="#resume">
    <div class="square-wrapper" aria-live="polite">

      <div class="back">
        <header>
          <h1>story</h1>
        </header>
        <div class="sample">
          <h2 class="title">A UX journey</h2>
          <h3 class="tag">by Erica Horowitz</h3>
          <p class="date">It all started when...</p>
        </div>
        <p class="more">[ click for more information ]</p>
      </div>
    </div>
  </a>
</section><!-- 

 --><section class="square contact">
  <div class="square-wrapper">
    <div class="front">
      <header>
        <h1>contact</h1>
      </header>
      <ul class="contact-list">
          <li><a href="http://www.linkedin.com/pub/erica-horowitz/25/264/241" alt="linkedin"><div class="icon icon-linkedin"></div><div class="note">LinkedIn</div></a></li><!-- 
           --><li><a href="https://github.com/elhorowitz" alt="github"><div class="icon icon-github"></div><div class="note">GitHub</div></a></li><!-- 
           --><li><a href="https://twitter.com/ElHorah" alt="twitter"><div class="icon icon-twitter"></div><div class="note">Twitter</div></a></li><!-- 
           --><li><a href="http://cookingwithcode.ghost.io/" alt="blog"><div class="icon icon-blog"></div><div class="note">Blog</div></a></li>
      </ul>
      <p><a href="mailto:ericalhorowitz@gmail.com" alt="email">ericalhorowitz@gmail.com</a></p>
    </div>
  </div>
</section>