<header>
  <h1>her experience</h1>
</header>
<section class="content">
  <ul>
    <li class="job">
      <aside class="timeline span-two-of-ten">
        <h3 class="date">2014</h3>
      </aside>
      <section class="span-nine-of-ten">
        <header class="job-title">
          <h1 class="title left"><a href="http://www.freshtilledsoil.com/aux/">UX Apprentice</a></h1>
          <h2 class="tag"><a href="http://www.freshtilledsoil.com">Fresh Tilled Soil</a></h2>
        </header>
        <p>The Fresh Tilled Soil Apprenticeship in UX (AUX) turns promising designers and developers into all-round web and mobile product experts through intense, structured learning, individual mentorship, and real-world experience.</p>
        <ul class="list">
          <li>Develop the styleguide for a large financial institution's desktop website</li>
          <li>Develop production-level front-end code for several prominent non-government institutions</li>
          <li>Complete a variety of challenges tailored to teach design trends, best practices, and development skills</li>
        </ul>
      </section>
    </li>
    <li class="job">
      <aside class="timeline span-two-of-ten">
        <h3 class="date">2013 - 2014</h3>
      </aside>
      <section class="span-nine-of-ten">
        <header class="job-title">
          <h1 class="title left">Senior Business Analyst</h1>
          <h2 class="tag"><a href="http://www.capitalone.com">Capital One</a></h2>
        </header>
        <ul class="list">
          <li>Subject matter expert for customer satisfaction; manage and monitor voice of customer feedback channels; institute key performance indicators and proposed targets to establish tangible goals for improving user experience</li>
          <li>Lead implementation of automated technological solutions to streamline data collection and reporting; negotiate 3rd party vendor contracts and services</li>
          <li>Discover primary sources of user discontent through qualitative and quantitative analysis; identify solutions that improve satisfaction by 13%; insights drive business decisions across the digital space, including upper management’s key business strategy for 2014</li>
        </ul>
      </section>
    </li>
    <li class="job">
      <aside class="timeline span-two-of-ten">
        <h3 class="date">2011 - 2013</h3>
      </aside>
      <section class="span-nine-of-ten">
        <header class="job-title">
          <h1 class="title left">Business Analyst</h1>
          <h2 class="tag"><a href="http://www.capitalone.com">Capital One</a></h2>
        </header>
        <ul class="list">
          <li>Recognized with “Excellence in Action” by senior management for leading a senior team in the creation of loss models for the newly acquired $8B HSBC card portfolios; reconciled the models’ many data sources and sub-portfolios, establishing a clear portfolio hierarchy and data map; developed the model template used by all 20+ new portfolios; co-authored white papers for the new models</li>
          <li>Managed the loss forecasts for two $1B portfolios; orchestrated quarterly assessments, managing timelines and deliverables for both the team and its business partners; streamlined monthly monitoring processes</li>
          <li>Coordinated forecast runs and compiled loss-estimations for biannual Dodd-Frank Act Federal Stress Tests</li>
          <li>As Recruitment Diversity Chair for Cornell University, fostered and maintained relationship with diversity clubs and programs at Cornell University; attended recruiting events for prospective students; mentored candidates through the interview process</li>
        </ul>
      </section>
    </li>
    <li class="job">
      <aside class="timeline span-two-of-ten">
        <h3 class="date">2011</h3>
      </aside>
      <section class="span-nine-of-ten">
        <header class="job-title">
          <h1 class="title left"><a href="http://courses.cornell.edu/preview_course_nopop.php?catoid=12&coid=93472">Teaching Assistant:</a> Intermediate Design and Programming for the Web</h1>
          <h2 class="tag">Cornell University</h2>
        </header>
        <ul class="list">
          <li>Held office hours; graded assignments, exams, and projects </li>
        </ul>
      </section>
    </li>
    <li class="job">
      <aside class="timeline span-two-of-ten">
        <h3 class="date">2009 - 2011</h3>
      </aside>
      <section class="span-nine-of-ten">
        <header class="job-title">
          <h1 class="title left"><a href="https://reimagine.hci.cornell.edu/">Undergraduate Research:</a> Human Computer Interaction Lab</h1>
          <h2 class="tag">Cornell University</h2>
        </header>
        <ul class="list">
          <li>Collaborated with a team of five to create and analyze an iPhone application geared towards providing children with an informal science learning experience; research published in <a href="http://ojs.statsbiblioteket.dk/index.php/mediekultur/article/view/3341">MedieKultur Vol. 27 No. 50</a></li>
          <li>Led team of ten to create and analyze a Firefox Extension using Python, Processing, and HTML to visualize people’s online communication habits</li>
          <li>Collaborated with team of six to create and analyze a new system for incentivizing and managing goals</li>
        </ul>
      </section>
    </li>
    <li class="job">
      <aside class="timeline span-two-of-ten">
        <h3 class="date">2008</h3>
      </aside>
      <section class="span-nine-of-ten">
        <header class="job-title">
          <h1 class="title left">Software Quality Assurance</h1>
          <h2 class="tag"><a href="http://enterprise.alcatel-lucent.com/?product=OmniTouch8660MyTeamwork&page=overview">eDial, a division of Alcatel-Lucent</a></h2>
        </header>
        <ul class="list">
          <li>Created, ran, and edited tests of the browser-based business collaboration application OmniTouch My Teamwork; focused on browser compatibility and the newly implemented video conferencing feature</li>
        </ul>
      </section>
    </li>
  </ul>
</section>