<header>
  <h1>work</h1>
</header>
<nav class="side-nav">
  <ul id="nav" ng-click="$event.preventDefault()">
    <li class="col span-two-of-ten" ng-repeat="item in projectList" ng-class="{selected: item.id == thisProj.id}" on-finish-render="setTinyNav">
      <a href="{{item.id}}" ng-click="tabSelect(item)" >
        <div id="{{item.id}}" class="nav-item-wrapper">
          <h3 class="title">{{item.title}}</h3>
          <p class="date"> [{{item.date}}] </p>
        </div>
      </a>
    </li>
  </ul>
  <select class="selectNav" ng-model="thisProj" ng-options="item.title for item in projectList"></select>
</nav><!-- 
 --><div class="content">

  <section id="{{thisProj.id}}" class="project">
    <header>
      <div class="proj-details right">
        <h3 class="tag">{{thisProj.type}}</h3>
        <h3 class="date">{{thisProj.date}}</h3>
      </div>
      <h1 class="title left">{{thisProj.title}}</h1>
    </header>
    <article class="description row">
      <!-- Insert the project's bio -->
      <p ng-repeat="paragraph in thisProj.blurb">{{paragraph}}</p>
  
      <!-- Insert the project's pictures -->
      <div class="gallery row">
        <div ng-repeat="img in thisProj.images" class="col span-two-of-ten" on-finish-render="setGallery">
          <a class="thumbnail" href="{{img.source}}" title="{{img.caption}}">
            <img ng-src="{{img.source}}" alt="{{img.alt}}">
            <span class="caption"><p>{{img.caption}}</p></span>
          </a>
        </div>
      </div> 
    </article>  
  </section>
</div>