<header>
  <h1>experience</h1>
</header>
<section class="content">
  <ul>
    <li class="job">
      <aside class="timeline span-two-of-ten">
        <h3 class="date">2014</h3>
      </aside>
      <section class="span-nine-of-ten">
        <header class="job-title">
          <h1 class="title left"><a href="http://www.freshtilledsoil.com/aux/">UX Apprentice</a></h1>
          <h2 class="tag"><a href="http://www.freshtilledsoil.com">Fresh Tilled Soil</a></h2>
        </header>
        <p>I honed user experience, user interface, and development skills at the Boston area UX/UI design firm through application and one-on-one mentorship. My work included:</p>
        <ul class="list">
          <li>Creating the code guide for a prominent New England financial institution's website</li>
          <li>Developing production-ready code for several high-traffic sites</li>
          <li>Completing bi-weekly personal projects to instill best practices relating to human motivation/behavior, accessibility, typography, color theory, information architecture, and the design process</li>
        </ul>
      </section>
    </li>
    <li class="job">
      <aside class="timeline span-two-of-ten">
        <h3 class="date">2011 - 2014</h3>
      </aside>
      <section class="span-nine-of-ten">
        <header class="job-title">
          <h1 class="title left">Senior Business Analyst</h1>
          <h2 class="tag"><a href="http://www.capitalone.com">Capital One</a></h2>
        </header>
        <div class="list">
          <p>As subject matter expert for customer satisfaction, I managed and monitored voice of customer feedback channels and instituted key performance indicators and proposed targets to establish tangible goals for improving user experience.  </p>
          </p>This led to my discovering primary sources of user discontent through qualitative and quantitative analysis, and my identifying solutions that improve satisfaction by 13% - insights which drove business decisions across the digital space, including upper management’s key business strategy for 2014</p>
          <p>As Recruitment Diversity Chair for Cornell University, I fostered and maintained relationship with diversity clubs and programs at Cornell University, attended recruiting events for prospective students, and mentored candidates through the interview process</p>
        </div>
      </section>
    </li>
    <li class="job">
      <aside class="timeline span-two-of-ten">
        <h3 class="date">2011</h3>
      </aside>
      <section class="span-nine-of-ten">
        <header class="job-title">
          <h1 class="title left"><a href="http://courses.cornell.edu/preview_course_nopop.php?catoid=12&coid=93472">Teaching Assistant:</a> Intermediate Design and Programming for the Web</h1>
          <h2 class="tag">Cornell University</h2>
          <p>I held office hours and graded assignments, exams, and projects.</p>
        </header>
      </section>
    </li>
    <li class="job">
      <aside class="timeline span-two-of-ten">
        <h3 class="date">2009 - 2011</h3>
      </aside>
      <section class="span-nine-of-ten">
        <header class="job-title">
          <h1 class="title left"><a href="https://reimagine.hci.cornell.edu/">Undergraduate Research:</a> Human Computer Interaction Lab</h1>
          <h2 class="tag">Cornell University</h2>
        </header>
        <p>Projects included:
          <ul class="list">
            <li>An iPhone application geared towards providing children with an informal science learning experience; research published in <a href="http://ojs.statsbiblioteket.dk/index.php/mediekultur/article/view/3341">MedieKultur Vol. 27 No. 50</a></li>
            <li>A Firefox Extension using Python, Processing, and HTML to visualize people’s online communication habits</li>
            <li>A new system for incentivizing and managing goals</li>
          </ul>
        </p>
      </section>
    </li>
    <li class="job">
      <aside class="timeline span-two-of-ten">
        <h3 class="date">2008</h3>
      </aside>
      <section class="span-nine-of-ten">
        <header class="job-title">
          <h1 class="title left">Software Quality Assurance</h1>
          <h2 class="tag"><a href="http://enterprise.alcatel-lucent.com/?product=OmniTouch8660MyTeamwork&page=overview">eDial, a division of Alcatel-Lucent</a></h2>
        </header>
        <div class="list">
          <p>I created, ran, and edited tests of the browser-based business collaboration application OmniTouch My Teamwork, focusing on browser compatibility and the newly implemented video conferencing feature.</p>
        </div>
      </section>
    </li>
  </ul>
</section>