
.about { 
  background: $about-color; 

  .content-wrapper {
    line-height: 1;
    position: relative;
    visibility: visible;
  } 

  header {
    bottom: 2em;
  	margin-bottom: 0;
    padding-left: 2em;
    position: absolute;
    right: 2em;
  }

  h1, h2 { text-align: right;}
}