
// General Content Stylings
// ---------------------------------------
.details {
  position: relative;

  .big {
    border-bottom: 5px solid $blue;
    margin-top: 5px;
    position: relative;
  }

  .content-wrapper {
    margin: 0 auto 2em;
    max-width: 990px;
    position: relative;

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  }
}

.proj-details {
  float: right;
}



// Back to Top - Site Stylings
// ---------------------------------------
.close {
  cursor: pointer;
  font-weight: 600;
  height: 30px;
  position: absolute;
  top:  20px;
  z-index: 999;

  p { font-weight: 600; }

  &:before {
    border-bottom: 15px solid;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    content: "";
    height: 0;
    left: 30px;
    position: absolute;
    top: -15px;
    width: 0;

    -webkit-transition: top 0.2s ;
       -moz-transition: top 0.2s ;
         -o-transition: top 0.2s ;
  }

  &:after {
    content: "";
    display: block;
    height: 5px;
    left: 40px;
    position: absolute;
    top: -6px;
    width: 10px;
  }

  &:hover:before {
    top: -20px;
  }
}


// Back to Top - Section Stylings
// ---------------------------------------
.section-top {
  @include font-size(5);

  font: {
    family: $font-serif;
    weight: 600;
  }
  margin-top: -50px;
  text-align: center;

  a { 
    &:hover:after { 
      content: "[ Top of Section ]";
      display: block;
      font-size: 16px;
      margin-top: -24px;
    }
  }
}
