html, body {
  background: $white;
  color: $white;
  font: {
    family: $font-sans;
    size: 100%;
    weight: 200;
  }
  height: 100%;
  line-height: 1.5;
  min-height: 39.375em;
  width: 100%;
}

.main {
  border-bottom: 5px solid $blue;
  height: 100%;
}

header {
  margin-bottom: 30px;

  &.job-title {
    margin-bottom: 1em;
  }
}

.ng-hide,
.hidden {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

.stamp {
  display: block;
  height: 50px;
  overflow: hidden;
  width: 100%;
}

.stamp path {
  fill: $blue;
  stroke: $blue;
}




/*---- CLEAR FIX ----*/
.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.row {
    *zoom: 1;
}