
// Stylings for tablets
// ---------------------------------------
@media only screen and (max-width: 52.875em) {

  //===== Typography Changes ===================================
  h1, [class*=" "] h1 { @include font-size(2); }
  h2, [class*=" "] h2 { @include font-size(1.5); }
  .side-nav .title { @include font-size(1.3); word-wrap: break-word; }
  

  //===== Contact Changes ===================================
  .contact ul { width: 275px; }
  
  .icon {
    width: 45px;
    height: 45px;

    &:before { font-size: 23px; }
  }
  
}




// Stylings for Mobile
// ---------------------------------------
@media only screen and (max-width: 41.75em) {
  
  //===== Grid Changes ===================================
  .span-one-of-ten { width: 100%; }
  .span-two-of-ten { width: 100%; }
  .span-three-of-ten { width: 100%; }
  .span-four-of-ten { width: 100%; }
  .span-five-of-ten { width: 100%; }
  .span-six-of-ten { width: 100%; }
  .span-seven-of-ten { width: 100%; }
  .span-eight-of-ten { width: 100%; }
  .span-nine-of-ten { width: 100%; }
  .span-ten-of-ten { width: 100%; }


  //===== Typography Changes ===================================
  .right { text-align: left; }

  blockquote { 

    margin-bottom: .5em; 
    padding: 0 0 0 2.1em;


    &:before { @include font-size(4em); left: -.1em; }
  }


  //===== Global Changes ===================================
  body {-webkit-text-size-adjust: none;}
  .main { height: auto; }
  .details .content-wrapper { padding: 0px 10px; width: 100%; }


  //===== Header Changes ===================================
  header { margin-bottom: 2em;}

  .square.about,
  .square.contact { 
    padding-top: 2em; 
    width: 100%; 

    .content-wrapper { padding: 30px 0;}

    header { 
      margin-bottom: 0;
      position: relative; 
      right: auto; 
      text-align: center;
    }

    .front header { display: none; }
    .contact-list { padding-top: 1em; }
  }

  .square.portfolio,
  .square.resume { display: none;}


  //===== General Content Changes ===================================
  .content { 
    .proj-details { 
      float: none; 
      margin-bottom: 1.5em;

      .tag, .date { display: inline-block; }
      .tag:after { content: ", "; }
    }
  }

  .close { 
    left: auto;
    margin: auto;
    position: relative;
    top: -1em;
    width: 6em; 
  }

  .section-top a:after {
    content: "[ Top of Section ]";
    display: block;
    font-size: 16px;
    margin-top: -24px;
  }

  .gallery { 
    height: 17em;
    padding-left: 0; 
    position: relative;
    text-align: center;

    .ng-scope {
      @include hidden;
      width: 100%;

      &:first-child {
        left: auto;
        margin: 0;
        position: relative;
        top: auto;

        &:after {
          color: darken( $portfolio-accent-color, 12% );
          content: "Click for more pictures";
        }
      }
    }

    .thumbnail { 
      text-align: left;
      width: initial;
    }
  }


  //===== Resume Changes ===================================
  .content .timeline { margin-bottom: 2em; }

  .cartoon { 
    display: block;
    float: none; 
    margin: 0 auto;
    max-width: 10em;  
  }

  .job a{
    text-decoration: underline;

    &:hover { background: $resume-accent-color; }

    &:before { 
      content: none;
    }
  }


  //===== Portfolio Changes ===================================
  #nav { display: none }

  .selectNav { 
    @include font-size(1);

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: $portfolio-accent-color;
    border: 1px solid $white;
    color: $white;
    display: block;
    font: {
      family: inherit;
      weight: inherit;
    }
    height: 60px;
    opacity: 1;
    padding: 0 10px;
    text-indent: 0.01px;
    text-overflow: '';
    width: 100%;
  }

  .side-nav:after {
    border-left: 1px solid $white;
    content: "\e600";
    display: block;
    font-family: 'icomoon';
    height: 60px;
    line-height: 60px;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: top;
    width: 9%;
  }
}