
// General
// ---------------------------------------

.portfolio { 
  background: $portfolio-color; 

  .project { line-height: 1; }

  .type {
    letter-spacing: 0.03em;
    text-transform: lowercase;
  }
}

// Expanded
// ---------------------------------------

.portfolio.expanded {

  display: block;
  height: calc(100% - 3em);
  min-height: 36.375em;
  position: absolute;
  left: 3em;
  bottom: 3em;
  width: calc(100% - 3em);

  .content-wrapper { visibility: visible; }

}