
// General
// ---------------------------------------

.resume { 
  background: $resume-color;

  .company { line-height: 1; }

  .position {
    letter-spacing: 0.03em;
    text-transform: lowercase;
  }

}

// Expanded
// ---------------------------------------

.resume.expanded {

  display: block;
  height: calc(100% - 3em);
  min-height: 36.375em;
  position: absolute;
  right: 3em;
  top: 3em;
  width: calc(100% - 3em);

  .content-wrapper { visibility: visible; }

}
